body{
  font-size: 16px;
}

td, th{
	border: solid;
	border-width: 1px;
	padding: 10px;
	-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 10px; 
border-color: #9CB7BE;
}

th: first-child, td:first-child{
	width:20%;
  background-color: #BBE0E9;
}

th:last-child, td:last-child{
	width: 80%;
}
td:first-child{
  background-color: #BBE0E9;
  color:gray;
}
td:last-child{
  background-color: #F0F0F0;
  color:gray;
}



html{
	background: #727476;
	font-family: "Times New Roman", Times, "Liberation Serif", FreeSerif, serif;
	font-family: Georgia, "DejaVu Serif", Norasi, serif;

}
.content {
	background-color: #FAFAFA;;
	margin: 5px 152px;
	padding: 0px 30px;
	-moz-box-shadow: 10px 10px 5px 0px #cfcfcf;
-webkit-box-shadow: 10px 10px 5px 0px #cfcfcf;
-o-box-shadow: 10px 10px 5px 0px #cfcfcf;
box-shadow: 10px 10px 5px 0px #cfcfcf;
}
@import url(http://fonts.googleapis.com/css?family=Raleway);
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {

  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  font-size: 1%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu {
  width: auto;
  border-bottom: 3px solid #47c9af;
  font-family: Raleway, sans-serif;
  line-height: 1;
  font-size: 1%;
  margin-bottom: 10;
}
#cssmenu ul {
  background: #ffffff;
}
#cssmenu > ul > li {
  float: left;
}
#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu.align-right > ul > li > a {
  margin-right: 0;
  margin-left: -4px;
}
#cssmenu > ul > li > a {
  z-index: 2;
  padding: 18px 25px 12px 25px;
  font-size: 10px;
  font-weight: 400;
  text-decoration: none;
  color: #444444;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  margin-right: -4px;
}
#cssmenu > ul > li.active > a,
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li > a:hover {
  color: #ffffff;

}
#cssmenu > ul > li > a:after {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 120%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  content: "";

  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transform: perspective(5px) rotateX(2deg);
  -webkit-transform-origin: bottom;
  -moz-transform: perspective(5px) rotateX(2deg);
  -moz-transform-origin: bottom;
  transform: perspective(5px) rotateX(2deg);
  transform-origin: bottom;
}
#cssmenu > ul > li.active > a:after,
#cssmenu > ul > li:hover > a:after,
#cssmenu > ul > li > a:hover:after {
  background: #B5E1EA;
}




/* table {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    text-align: left;
    font-size: 13;
    font-family: Verdana;
    color: #222222;
    line-height: 1.2;
    border-spacing: 2;
    empty-cells: show;
    background-color: #F0F0F0;
    border-color: #9CB7BE;
}*/
#content{

	margin:50px 0px 0px 0px;

}
table{
	margin:50px 0px 0px 0px;
  color: gray;
}
p{
  border-top: 3px;
  border-left: 0px;
  border-right: 0px;
  border-bottom:0px;
  border-color:#BBE0E9;
  border-style: dotted;
  padding-top: 20;
  color: gray;

}

  h2{

  width: 748;
  text-align: left;
  color: #66CCFf;
  text-shadow: 0px 0px 2px #66CCFF;
  font-family: Century Gothic, Verdana;
  font-size: 22;
  font-weight: normal;
  text-decoration: none;
  letter-spacing: 2;
}
 /*p
{
  margin: 0 0 0 10;
  padding: 0 0 0 0;
  text-align: justify;
  font-size: 12;
  font-family: Verdana;
  color: #626C6F;
  line-height: 1.4;
}*/
 b {
    font-weight: bold;
}
#titre_page
{
  height: 30;
  width: 780;

}
#p, #ul{
  padding-top: 20;
}
 /*p
{
  margin: 0 0 0 10;
  padding: 0 0 0 0;
  text-align: justify;
  font-size: 12;
  font-family: Verdana;
  color: #626C6F;
  line-height: 1.4;
}*/
 b {
    font-weight: bold;
}
#titre_page
{
  height: 30;
  width: 780;

}
#p, #ul{
  padding-top: 20;
  text-align: justify;
  font-size: 16;
 font-family: verdana;
  color: #626C6F;
  line-height: 1.4;
}
article{
  padding-top: 20;
  
  text-align: justify;
  font-size: 16;
 font-family: verdana;
  color: #626C6F;
 line-height: 1.4;

}
h5{
   font-family: verdana;
  color: #626C6F;
  text-decoration: underline;

}
#nav #en-cours a{
    background: #B5E1EA;
    color: #ffffff;
    font-family: Raleway, sans-serif;
 
  font-size: 10px;
    -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transform: perspective(5px) rotateX(2deg);
  -webkit-transform-origin: bottom;
  -moz-transform: perspective(5px) rotateX(2deg);
  -moz-transform-origin: bottom;
  transform: perspective(5px) rotateX(2deg);
  transform-origin: bottom;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  font-family: Raleway, sans-serif;
}
